# Rename this file to .env to work on development

# Example environment variables for the frontend

# Vite API URL
VITE_API_URL=http://localhost:8080

# Authentication secret
VITE_AUTH_SECRET=your_auth_secret_here

# AWS S3 bucket name
VITE_S3_BUCKET_NAME=your_bucket_name_here

# AWS region
VITE_AWS_REGION=your_region_here

# Debug mode
VITE_DEBUG=true
